<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <script src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="https://connect.facebook.com/en_US/messenger.Extensions.js"></script>
    <script type="text/javascript">
        ShopifyApp.init({
            apiKey: '<%= api_key %>',
            shopOrigin: 'https://<%= shop %>.myshopify.com'
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/foundation.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title><%= title %> products</title>
</head>
<body>
<script src="/js/products.js"></script>

<div class="row">
</div>
</body>
</html>
